
body 
    
   {
    margin: 0;
    padding: 0;
}

.cabecalho  {
    background-color: #008000;
    color: #240808;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
    font-size:16px;
   }

.cabecalho-imagem{
    width: 130px;
    height: 160px;
}
.escola{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00FA9A;
}
.escola__div{
    width: 200px;
    height: auto;
}
.escola__imagem{
    width: 200px;
    height: auto;
    margin-left: 40px;
}