


body 
    
   {
    margin: 0;
    padding: 0;
}

.cabecalho  {
    background-color: #008000;
    color: #800000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
    font-size: 32px;
   }

.cabecalho-imagem{
    width: 130px;
    height: 160px;
}
.cabecalho-menu

font-size:32px;

